.postContainerStyle{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    /* align-content: center; */
    margin: 50px auto;
}